
body{
    font: 20px, arial, sans-serif;
}
.navbar {
    background-color: #DFF6FF;
}

.quem-somos{
    background-color: #D18CE0;
    color: white;
}

.margin{
   
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #94B49F;
    color: white;
}

.servicos{
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
    
   
}